.tooltip1 {
  position: absolute;
  width: 120px;
  height: 70px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: rgb(41, 128, 185);
  border: 0;
  border-radius: 10px;
}

.tooltip2 {
  position: absolute;
  width: 120px;
  height: 70px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: rgb(156, 11, 147);
  border: 0;
  border-radius: 10px;
}

.axisText {
  font-family: sans-serif;
  font-weight: bold;
  fill: #551aaf;
  text-anchor: middle;
}